<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">
    <title>Submit a Fact!</title>
</head>
<body>
    <div class = "container">
        <h1>Just the Facts, Ma'am!</h1>
        <div class = "facts_container">
            <form action = "/facts" method = "POST">
                <label for = "submitter"><h2>Your Name</h2></label>
                <input name = "submitter" type = "text">
                <br/>
                <br/>
                <label for = "fact"><h2>Your Fact</h2></label>
                <textarea name = "fact"></textarea>
                <br/>
                <br/>
                <input type = "submit" value = "Submit Your Fact">
            </form>

        </div>
        <a href = "/pets">( Go Back</a>

    </div>
    
</body>
</html>

<!-- {% extends "base.html" %}
{% block title %}UserFax{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<H1>New.html</H1>
 
{% endblock %} -->